.service {
  float: left;
  width: 25%;
}

.client {
  display: inline-block;
  width: 25%;
}

.rates-page {
  float: right;
  width: 50%;
}

.service-item-true {
  color: blue;
}

.client-item-true {
  color: blue;
}
